@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

html, body {
    width: 100vw;
    height: 65vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("https://telegra.ph/file/b0583c176e4466147473a.png");
    background-size:cover;
    background-position: center;
    
}

header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
  }

  .logo{
    width: 10rem;
}

.GetHelp{
    border: 0;
    width: 8rem;
    height: 3.0rem;

    background-color: #FDC309;
    border-radius: 1.25rem;
    font-weight: bold;
    font-size: 1rem;
    color: #5E4400;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  
  
  }
  
  /* Hover effect */
  .GetHelp:hover {
    background-color: wheat; /* Move the button up slightly on hover */
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3); /* Increase shadow size on hover */
  }
  
  /* Active effect */
  .GetHelp:active {
    transform: translateY(3px); /* Move the button down slightly when clicked */
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Decrease shadow size when clicked */
  }

  .button-canvas{
    height: 15vw;
  }

  .main-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center
}

.main-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


  .image-button {
    position: relative; /* Establish positioning context for absolute positioning */
    display: inline-block; /* Ensure block-level behavior */
    background-color: transparent;
    border: none;
    cursor:pointer;
    margin: 20px;

}

.image-text {
  font-family: "Rye", serif;
    position: absolute; /* Position text absolutely */
    top: 40px; /* Adjust top position */
    left: 12px; /* Adjust left position */
    color:  #f4e8d9;  /* Semi-transparent background */
    padding: 5px 10px; /* Padding for the text */
    font-size: 21px; /* Font size */
    border-radius: 5px; /* Rounded corners */
}

.image-text-solo{
  font-family: "Rye", serif;
  position: absolute; /* Position text absolutely */
  top: 50px; /* Adjust top position */
  left: 12px; /* Adjust left position */
  color:  #f4e8d9;  /* Semi-transparent background */
  padding: 5px 10px; /* Padding for the text */
  font-size: 21px; /* Font size */
  border-radius: 5px; /* Rounded corners */
}





