<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Quest | Quiz
    </title>
    <link rel="stylesheet" href="/static/css/CardQuiz.css">
    <link rel="icon" type="image/png" href="/static/img/Icons/care_9304360 (1).png">

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeWGWUJuoMFRwn-kKzm33h2so09Tw9nwe1oGNLv92MJMefllg/viewform?embedded=true" width="1260" height="1620" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</head>
<body>
    
</body>
</html>
