<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rights Quest</title>
        <link rel="stylesheet" href="/static/css/Card.css">
        <link rel="icon" type="image/png" href="/static/img/Icons/care_9304360 (1).png">
        <script src="/static/js/Card.js"></script>
    </head>

    <body>


        <header>
            <a class="logo" href="/"><img class= "logo"src="/static/img/logo.png" alt="logo"></a>

            <h2>Score: <span id="errors">0</span></h2>

            <a class="cta" href="https://www.childlineindia.org/a/about/childline-india#:~:text=Call%201098%20%E2%80%93%20Any%20child%20or,2"> <!-- Add the URL here -->
                <button class="GetHelp">Get Help 📞</button>
            </a>

            
        </header>


        <div id="board">
        </div>

        <a href="{{ url_for('righttwo') }}">
            <button class="Video-continue">Continue</button>
        </a>
    </body>
</html>
