<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Quest - Modules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Module.css') }}">
    <link rel="icon" type="image/png" href="/static/img/Icons/care_9304360 (1).png">
</head>
<body>

    <header>
        <a class="logo" href="/"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>

        <a class="cta" href="https://www.childlineindia.org/a/about/childline-india#:~:text=Call%201098%20%E2%80%93%20Any%20child%20or,2"> <!-- Add the URL here -->
            <button class="GetHelp">Get Help 📞</button>
        </a>
        
    </header>

    <main>

        <div class="main-1">
            <button class="image-button" onclick="location.href='{{ url_for('maze') }}'">
                <img src="{{ url_for('static', filename='img/Icons/canvas.png') }}" alt="Image" class="button-canvas">
                <div class="image-text-solo">Wait! It's Time to Play, Not Get Married! </div>
            </button>
    
            <button class="image-button" onclick="location.href='{{ url_for('card') }}'">
                <img src="{{ url_for('static', filename='img/Icons/canvas.png') }}" alt="Image" class="button-canvas">
                <div class="image-text"><br>School's Cool! Get Your Learn On! </div>
            </button>
    
            <button class="image-button">
                <img src="{{ url_for('static', filename='img/Icons/canvas.png') }}" alt="Image" class="button-canvas">
                <div class="image-text"><br>Trouble Happens, But Help is There! </div>
            </button>
    
        </div>
        <div class="main-2">

            <button class="image-button">
                <img src="{{ url_for('static', filename='img/Icons/canvas.png') }}" alt="Image" class="button-canvas">
                <div class="image-text"><br>Stay Safe and Say No!</div>
                </button>
        
                <button class="image-button">
                <img src="{{ url_for('static', filename='img/Icons/canvas.png') }}" alt="Image" class="button-canvas">
                <div class="image-text"><br>No Work Until You're Older! </div>
                </button>
        </div>
        
       


    </main>


</body>
</html>
