<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="/static/css/Signin.css">
   <link rel="icon" type="image/png" href="/static/img/Icons/care_9304360 (1).png">

   <title>Rights Quest | Signup</title>
</head>

<body>

   <header>
      <a class="logo" href="/"><img class="logo" src="/static/img/logo.png" alt="logo"></a>

      <a class="cta"
         href="https://www.childlineindia.org/a/about/childline-india#:~:text=Call%201098%20%E2%80%93%20Any%20child%20or,2">
         <!-- Add the URL here -->
         <button class="GetHelp">Get Help 📞</button>
      </a>

   </header>




   <div class="login">

      <form action="" class="login__form">
         <h1 class="login__title">Sign Up</h1>

         <div class="login__inputs">
            <div class="login__box">
               <input id="email_input" type="email" placeholder="Registration Email" required class="login__input">
               <i class="ri-mail-fill"></i>
            </div>

            <div class="login__box">
               <input id="password_input" type="password" placeholder="Create a Password" required class="login__input">
               <i class="ri-lock-2-fill"></i>
            </div>
         </div>

         <div class="login__check">
            <div class="login__check-box">
               <input type="checkbox" class="login__check-input" id="user-check">
               <label for="user-check" class="login__check-label">Remember me</label>
            </div>

         </div>

         <button id="login_button" type="submit" class="login__button">Sign Up</button>

         <div class="login__register">
            Already have an account? <a href="/signin">Login</a>
         </div>
      </form>
   </div>

   <script src="{{ url_for('static', filename='js/SignUp.js') }}"></script>
</body>

</html>

